<h1>Welcome to CSE Motors!</h1>
<div class="car-float">
    <img src="/images/vehicles/delorean.jpg" alt="delorean" loading="lazy">
    <section class="float-text">
        <h3>DMC Delorean</h3>
        <h4>Comes with a Flux Capacitor!</h4>
        <p>(No Plutonium Included)</p>
        <button>Get Now!</button>
    </section>
</div>
<div class="two-columns">
    <section>
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <section>
                <h4>Flux Capacitor</h4>
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor" loading="lazy">
            </section>
            <section>
                <h4>Flame Decals</h4>
                <img src="/images/upgrades/flame.jpg" alt="flame decal" loading="lazy">
            </section>
            <section>
                <h4>Bumper Stickers</h4>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="stickers" loading="lazy">
            </section>
            <section>
                <h4>Hub Caps</h4>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps" loading="lazy">
            </section>
        </div>
    </section>
    <section>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"Basically a time machine." (4/5)</li>
            <li>"Got stuck 50 years in the past for a weekend." (2/5)</li>
            <li>"Classic Car." (5/5)</li>
            <li>"Kind of like a vintage Cyber Truck." (4/5)</li>
            <li>"Couldn't get plutonium so I never used the capacitor." (3/5)</li>
        </ul>
    </section>
</div>