<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form class="register" action="/inv/add-classification" method="post">
    <div>
        <label>Classification Name</label>
        <span>New classification name cannot contain a space or special character.</span>
        <input type="text" name="classification_name" required pattern="^[A-Za-z0-9]+$" title="Classification can only have letters and numbers. No spaces or special characters.">
    </div>
    <div>
        <button type="submit">Add Classification</button>
    </div>
</form>